p {
    font-family: 'Calibri';}
h1, h2 {
    font-family: 'Courier New';
    color: red;}
body {
    font-family: 'Calibri';
    background-color: white;}
a:visited {color: rgb(155, 55, 158);}
a:link {color: red;}
a:hover {color: rgb(201, 189, 29);}
a:active {color: green;}
ul {
    list-style: square;}
ol {
    list-style: lower-roman;}
table {
    background-color: lightgray;}
tr:first-child {
    background-color: lightblue;}